<ion-header>
    <ion-toolbar class="color-principal">
        <ion-title class="ion-text-center">Skeleton-App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-text>
        <h2 class="ion-text-center">Bienvenido {{ inicioUsuario }}</h2>
        <p>Registro de vehiculo:</p>
    </ion-text>

    <ion-item>
        <ion-input label="Patente:" maxlength="6" [(ngModel)]="inicioPatente"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input label="Marca:" [(ngModel)]="inicioMarca"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input label="Modelo" [(ngModel)]="inicioModelo"></ion-input>
    </ion-item>

    <ion-item>
        <ion-select [(ngModel)]="inicioTipo">
            <div slot="label">Tipo de vehiculo:</div>
            <ion-select-option value="Automovil">Automovil</ion-select-option>
            <ion-select-option value="Station Wagon">Station Wagon</ion-select-option>
            <ion-select-option value="Motocicleta">Motocicleta</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button class="color-principal ion-margin-top" expand="full" (click)="almacenarVehiculo()">Registrar</ion-button>
    <ion-button class="color-principal ion-margin-top" expand="full" (click)="limpiarDatos()">Limpiar campos</ion-button>
    <ion-button class="color-principal ion-margin-top" expand="full" (click)="verRegistro()">Ver registros</ion-button>
    <ion-button class="color-principal ion-margin-top" expand="full" (click)="tomarFoto()">Tomar foto</ion-button>
    <ion-button class="color-principal ion-margin-top" expand="full" (click)="verCoordenadas()">Ver coordenadas</ion-button>

</ion-content>